body{
    background-color: black;
    
}
#canvas1{
    border: solid 2px black;
    position: relative;
    top:150px;
    left:350px;
    background-color: #515a8f;

}

.scored{
    color : white;
    height: 50px;
    display: flex;
    justify-content: space-around;
    
   
}

.ruledesc{
    color:white;
    border: 2px solid white;
    width: 20vw;
    display: none ;

}

*{
    background-color: black;
}
